.home{
  background: url('/home/coder/project/workspace/reactapp/public/homePage.png') no-repeat center center;
  background-size: cover;  
  background-position: center;
  height: 100vh;
}
.bar{
  background: rgba(255, 228, 196, 0.5);
}
.content{
  height: 100vh;
}

.details{
  color: #663300;
}
.details-list{
  color: #000;
  font-weight: 900;
}
.heading{
  font-size: 60px;
  color: #663300;
  font-family: math;
  font-weight: bold;
}