.home{
  background: url('/home/coder/project/workspace/reactapp/public/home.png') no-repeat center center;
  background-size: cover;  
  background-position: center;
  height: 100vh;
}

.content{
  height: 100vh;
}
