
.container {
    
    background: url('/home/coder/project/workspace/reactapp/public/background1.jpg') no-repeat center center;
    background-size: cover;  
    background-position: center;
}

.card-header {
    background-color: #007bff;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.text-danger {
    color: rgb(255, 145, 0);
}

.modal{
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.modal.show {
    display: block;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    opacity: 0.5;
}

.btn-close:hover {
    color: #000;
    opacity: 0.75;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: brown;
}

.btn-primary:hover {
    background: rgba(68, 162, 68, 0.8);
    
}
.mt-3{
    color:black
}
.card-body{
    background: url('/home/coder/project/workspace/reactapp/public/background3.png') no-repeat center center;
    background-size: cover;  
    background-position: center; 
    
    
}
.log:hover{
   color:white 
}
.plant{
    height:150px;
    width: 150px;
}
