.custom-navbar {
    background: linear-gradient(to right, #4caf50, #8bc34a);
  }
  
  .navbar{
    background: rgba(68, 162, 68, 0.8);
    border-radius: 0;
  }

  .navbar-brand {
    color: white !important;
  }
  
  .dashboard-button {
    margin-right: 10px;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .logout-button {
    margin-left: auto;
  }
  
  .cursor:hover{
    cursor: pointer;
  }

  .logo{
    height: 35px;
    width: 35px;
  }

  .transparent-dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: none;
  }
  
  .transparent-dropdown .dropdown-item {
    color: white; 
  }
  
  .transparent-dropdown .dropdown-item:hover {
    background: rgba(68, 162, 68, 0.8);
    color: #fff; 
  }
  .pointer{
    cursor: pointer;
  }

  .custom-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border: #663300;
    box-shadow: none; 
    border-radius: 10px; 
  }
  

  