.plant-card {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .plant-list{
    background: url('/home/coder/project/workspace/reactapp/public/background1.jpg') no-repeat center center;
    background-size: cover;  
    background-position: center;
  }
  .blur{
    backdrop-filter: blur(20px);
    min-height: 100vh;
  }
  .table {
    background: transparent !important;
  }