.custom-navbar {
    background: linear-gradient(to right, #4caf50, #f5ff3d);
  }
  .navbar{
    background: rgba(68, 162, 68, 0.8);
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .dashboard-button {
    margin-right: 10px;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .logout-button {
    margin-left: auto;
  }

  .logo{
    height: 35px;
    width: 35px;
  }

  .transparent-dropdown .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
  }
  
  .transparent-dropdown .dropdown-item {
    color: white; /* Ensures text color is white */
  }
  
  .transparent-dropdown .dropdown-item:hover {
    background: rgba(68, 162, 68, 0.8);
    color: #fff;
  }
  .pointer{
    cursor: pointer;
  }
  
  .custom-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border: #663300;
    box-shadow: none; 
    border-radius: 10px; 
  }