.custom-navbar {
    background: linear-gradient(to right, #4caf50, #f5ff3d);
  }
  .navbar{
    background-color: rgba(50, 205, 50, 0.1);
    border-radius: 10px; /* Semi-rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .dashboard-button {
    margin-right: 10px;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .logout-button {
    margin-left: auto;
  }

  .logo{
    height: 35px;
    width: 35px;
  }

  .transparent-dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: a semi-transparent border */
    box-shadow: none; /* Removes default shadow, optional */
  }
  
  .transparent-dropdown .dropdown-item {
    color: white; /* Ensures text color is white */
  }
  
  .transparent-dropdown .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly less transparent on hover */
    color: #32cd32; /* Optional: changes text color on hover */
  }
  .pointer{
    cursor: pointer;
  }
  