.custom-navbar {
    background: linear-gradient(to right, #4caf50, #f5ff3d);
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .dashboard-button {
    margin-right: 10px;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .logout-button {
    margin-left: auto;
  }